@model IEnumerable<Shop_watch.Models.Tin_tuc>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Tin tức</h2>

<p>
    @Html.ActionLink("Thêm tin tức mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_tin_tuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoi_cap_nhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_Cap_nhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chu_thich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_tin_tuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noi_dung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoi_cap_nhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_Cap_nhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chu_thich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.Id_Tintuc }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id_Tintuc }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.Id_Tintuc })
        </td>
    </tr>
}

</table>
