@{
    ViewBag.Title = "CASIO G-SOCK";
}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="offset-lg-2 col-lg-8">
                    <h3>
                        G-STEEL LỊCH LÃM
                        <br /> NAM TÍNH MẠNH MẼ
                    </h3>
                    <p>
                        Thiết kế vỏ kim loại mạnh mẽ, nam tính và được trang bị công nghệ pin sạc năng lượng ánh sáng.
                    </p>
                    <a class="white_bg_btn" href="/Home/product">Xem bộ sưu tập</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Hot Deals Area =================-->
<section class="hot_deals_area section_gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="hot_deal_box">
                    <img class="img-fluid" src="~/Content/css_web/img/product/hot_deals/deal1.jpg" alt="" style="height:235px">
                    <div class="content">
                        <h2>Nơi hội tụ sản phẩm tinh tế mạnh mẽ cho phái mạnh</h2>
                        <p>Mua sắm ngay</p>
                    </div>
                    <a class="hot_deal_link" href="/Home/product"></a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="hot_deal_box">
                    <img class="img-fluid" src="~/Content/css_web/img/product/hot_deals/deal2.png" alt="" style="height:235px">
                    <div class="content">
                        <h2>Ưu đãi hấp dẫn trong tháng này</h2>
                        <p>mua sắm ngay</p>
                    </div>
                    <a class="hot_deal_link" href="/Home/saleWatch"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Hot Deals Area =================-->
<!--================Clients Logo Area =================-->
<section class="clients_logo_area">
    <div class="container-fluid">
        <div class="clients_slider owl-carousel">
            <div class="item">
                <img src="~/Content/css_web/img/clients-logo/c-logo-1.png" alt="">
            </div>
            <div class="item">
                <img src="~/Content/css_web/img/clients-logo/c-logo-2.png" alt="">
            </div>
            <div class="item">
                <img src="~/Content/css_web/img/clients-logo/c-logo-3.png" alt="">
            </div>
            <div class="item">
                <img src="~/Content/css_web/img/clients-logo/c-logo-4.png" alt="">
            </div>
            <div class="item">
                <img src="~/Content/css_web/img/clients-logo/c-logo-5.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Clients Logo Area =================-->
<!--================Feature Product Area =================-->
<section class="feature_product_area section_gap">
    <div class="main_box">
        <div class="container-fluid">
            <div class="row">
                <div class="main_title">
                    <h2>Sản phẩm nổi bật</h2>
                    <p>Ai đang vô cùng yêu thích với hệ thống sinh thái thân thiện.</p>
                </div>
            </div>
            <div class="row">
                @foreach (var item in ViewBag.ListImage)
                {
                    <div class="col col1">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="@item.Hinh_anh" alt="">
                                <div class="p_icon">
                                    @*<a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>*@
                                    <a href="/Home/themVaoGio/@item.Id_san_pham">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="/Home/single_product/@item.Id_san_pham">
                                <h4>@item.Ten_san_pham</h4>
                            </a>
                            @if (item.Gia_sale == 0)
                            {
                                <h5>$ @item.Gia_goc</h5>
                            }
                            else
                            {
                                if (item.Gia_sale != 0)
                                {
                                    <h5><del>$ @item.Gia_goc</del></h5>
                                    <h5>$ @item.Gia_sale</h5>   
                                }
                            }
                        </div>
                    </div>
                }
                @*<div class="col col2">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-2.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>
                        <div class="col col3">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-3.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>
                        <div class="col col4">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-4.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>
                        <div class="col col5">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-5.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>

                        <div class="col col6">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-5.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>

                        <div class="col col7">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-4.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>

                        <div class="col col8">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-5.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>
                        <div class="col col9">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-1.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
        </div>
                        <div class="col col10">
                            <div class="f_p_item">
                                <div class="f_p_img">
                                    <img class="img-fluid" src="~/Content/css_web/img/product/feature-product/f-p-4.jpg" alt="">
                                    <div class="p_icon">
                                        <a href="#">
                                            <i class="lnr lnr-heart"></i>
                                        </a>
                                        <a href="#">
                                            <i class="lnr lnr-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <h4>Áo thun dài tay</h4>
                                </a>
                                <h5>$150.00</h5>
                            </div>
                        </div>*@
            </div>

            <div class="row">
                <nav class="cat_page mx-auto" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        @*<li class="page-item active">
                            <a class="page-link" href="#">01</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">02</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">03</a>
                        </li>
                        <li class="page-item blank">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">09</a>
                        </li>*@
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Product Area =================-->
<!--================ Subscription Area ================-->
<section class="subscription-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>Theo dõi Bản tin của chúng tôi</h2>
                    <span>Để cập nhật các sản phẩm mới nhất đến từ G-sock</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div id="mc_embed_signup">
                    <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
                          method="get" class="subscription relative">
                        <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                               required="">
                        <!-- <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                        </div> -->
                        <button type="submit" class="newsl-btn">Bắt đầu</button>
                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Subscription Area ================-->