@model Shop_watch.Models.San_pham

@{
    ViewBag.Title = "Xoá sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Xoá sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xoá sản phẩm này?</h3>
<div>
    <h4>San_pham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_san_pham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_san_pham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh_anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh_anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai_san_pham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai_san_pham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_goc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_goc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_sale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguoi_cap_nhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoi_cap_nhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_Cap_nhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_Cap_nhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo_ta_ngan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo_ta_ngan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo_ta_dai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo_ta_dai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chu_thich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chu_thich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay trở lại", "Index")
        </div>
    }
</div>
