    @model IEnumerable<Shop_watch.Models.San_pham>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style></style>
<h3 class="h3-create">
    @Html.ActionLink("Thêm sản phẩm mới", "Create")
</h3>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_san_pham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia_goc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia_sale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_Cap_nhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th>Tác vụ</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ten_san_pham)
    </td>
    <td>
        <img src="@item.Hinh_anh" style="width:80px;height:80px;" />
    </td>
    @if (item.Loai_san_pham == 1)
    {
        <text> Đồng hồ nam </text>
    }
    else
    {
        if (item.Loai_san_pham == 2)
        {
            <text> Đồng hồ nữ </text>
        }
    }
    <td>
        @Html.DisplayFor(modelItem => item.Gia_goc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gia_sale)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.So_luong)
    </td>
    <td>    
        @Html.DisplayFor(modelItem => item.Ngay_Cap_nhat)
    </td>
    <td>
        @if (item.Trang_thai == 1)
        {
            <text> Còn hàng </text>
        }
        else
        {
            if (item.Trang_thai == 2)
            {
                <text> Hết hàng </text>
            }
        }
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id_san_pham }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id_san_pham }) |
        @Html.ActionLink("Xoá ", "Delete", new { id = item.Id_san_pham })
    </td>
</tr>
}

</table>
